[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
torch = "*"
ta = "*"
fastapi = "*"
yfinance = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.12"
